<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPostModalTitle">Add post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form method="POST" action="index.php?route=post.add">
              <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input name="post_title" type="text" class="form-control" placeholder="Enter title of post">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <textarea name="post_content" class="form-control" placeholder="..."></textarea>
              </div>

              <input type="hidden" name="is_page" value="0">

              <button type="submit" class="btn btn-primary">Add</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
